.bttn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--btn-padding1);
    height: var(--rem23);
    color: var(--color-white);
    background-color: transparent;
    border: var(--btn-border2-1);
    cursor: pointer;
    border-radius: var(--radius-4);
}

.bttn-white:hover {
    color: var(--color-gray1);
    background-color: var(--color-gray5);
    border: var(--btn-border2-1w);
}

.bttn-brand {
    background-color: var(--color-brand);
    border: var(--btn-border2-0);
    font-weight: 600;
}

.bttn-brand:hover {
    background-color: var(--color-brand2);
    border: var(--btn-border2-0h);
}

.disable-button{
background-color: var(--color-gray4);
border: 2px solid var(--color-gray4);
border-radius: var(--radius-4);
color: var(--color-gray3);
}

.bttn-gray1 {
    background: var(--color-gray1);
    border: 2px solid var(--color-gray1);
    font-weight: 600;
    line-height: 17px;
}

.bttn-gray1:hover {
    background-color: var(--color-gray0);
    border: var(--btn-border2-1h);
}

.vector {
    fill: rgba(33, 37, 41, 0.5);
    cursor: pointer;
}

.vector:hover {
    fill: var(--color-like);
}

.vector-ative{
    fill: var(--color-like);    
}

.likes-counter>p {
    width: var(--rem11);
    height: var(--rem10);
    color: #000000;
}


.bttn-state {
    width: 54px;
    height: var(--rem17);
    font-family: 'Inter';
    font-weight: 600;
    font-size: var(--rem08);
    line-height: var(--rem11);
    color: var(--color-gray1);

    border: var(--btn-border1-1);
    border-radius: 2px;
}

.bttn-state:hover {
    background-color: var(--color-white);
    border: var(--btn-border1-0);
    color: var(--color-brand);
}

.bttn-state-active{
    background-color: var(--color-brand);
    border: var(--btn-border1-0);
    color: var(--color-white);
    width: 89px;
}


.bttn-modal-close{
    position: absolute;
    width: var(--rem08);
    height: 0px;
    right: 1rem;
    top: 1.5rem;

    font-family: 'Nunito';
    font-weight: 400;
    font-size: 28px;
    line-height: 0px;

    display: flex;
    align-items: center;
    color: var(--color-gray3);
    border: none;
}