.title1 {
    font-weight: 700;
    font-size: var(--rem17);
    line-height: var(--rem25);
    font-family: 'Inter';
}

.title2 {
    font-weight: 600;
    font-size: var(--rem12);
    line-height: var(--rem15);
    font-family: 'Inter';
}

.text1 {
    font-weight: 400;
    font-size: var(--rem10);
    line-height: var(--rem17);
    font-family: 'Inter';
}

.text2 {
    font-weight: 400;
    font-size: var(--rem08);
    line-height: var(--rem10);
    font-family: 'Inter';
}

.text3 {
    font-weight: 400;
    font-size: var(--rem07);
    line-height: var(--rem10);
    font-family: 'Inter';
}